.about-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 400px;
    margin-top: 25px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: justify;

}

a {
    text-decoration: none;
    color: black;

}

img {
    width: 100px;
}

.flaticon {
    font-size: 13px;
}

audio {
    display: none;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

