@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

#item-title {
    margin: 0 auto;
}

#results-wrapper {
    display: flex;
    justify-content: space-between;
}

.results-box {
    width: 200px;
    height: 200px;
}

#profile {
    margin: 0 auto;
    top: 13px;
    display: flex;
    align-items: center;
}

img {
    height: 50px;
    width: 50px;
    margin: 5px;;
}

a {
    text-decoration: none;
    padding: 15px;
    border: 1px solid black;
    color: black;
    font-size: 1.3em;
}

a:hover {
    background-color: black;
    color: white;
}

#avatar {
    height: 100px;
}

#result-message{
    font-size: 30px;
}

#gif {
    margin: 30px;
    width: 100px;
    height: 100px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-egg {
    display: none;
}

#easter-egg-message {
    font-weight: bold;
    color: rgb(53, 123, 193);
    font-size: 20px;
}

#result-text {
    font-size: 20px;
}

