@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif
}

button {
    all: unset;
}

.submit-play {
    all: unset;
    border: 1px solid black;
    font-size: 1.3em;
    width: 100px;
    padding: 15px;
    text-align: center;
}

.submit-play:hover {
    background-color: black;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 375px;
    margin: 30px auto;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100px;
    margin: 10px;
}

main {
    text-align: center;
}

img {
    width: 50px;

}

.avatar-container {
    display: flex;
}

.avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

a {
    text-decoration: none;
    color: black;

}

input[type=text] {
    border: 1px solid black;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(53, 123, 193);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}