body {
    display: flex;
    width: 900px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#avatar {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    border: 1px solid pink;
}

.avatar-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid red;
}

#profile {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 160px;
    border: 1px solid black;
}

.profile-info {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    height: 100px;
}

.object-wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    height: 300px;
    width: 700px;
}

img {
    width: 100px;
    margin: 50px;
}


.nav-description {
    font-size: 30px;
}

img.visited {
    width: 100px;
    height: 100px;
    margin: 50px;
    opacity: .3;
}


.modal-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 35%;
    background-color: white;
    border: 4px solid red;
    padding: 30px;
  
}

.hidden {
    display: none;
}


