body {
    display: flex;
    width: 900px;
    margin: 0 auto;
}

#nav-main {
    background-image: url('../../assets/background.png');
    background-size: cover;
    height: 600px;
}

header {
    display: inline-block;
    text-align: center;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100%;
}

#avatar {
    display: flex;
    align-items: center;
    width: 100px;
}

#profile {
    position: absolute;
    top: -36px;
    right: 50px;
    
}

.profile-info p {
    margin: 9px;
}

.object-wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    height: 300px;
    width: 700px;
}

img {
    width: 80px;
    margin: 50px;
    margin-left: 72px;
    margin-top: 67px; 
}


.nav-description {
    font-size: 30px;
}

img.visited {
    opacity: .3;
}

.modal-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 4px solid black;
    padding: 10px;
    width: 400px;
    animation: fade 1s;
}

@keyframes fade {
    from { opacity: 0 }
    to { opacity: 1 }
 }



header .model-display {
    display: flex;
    text-align: center;
}

.hidden {
    display: none;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    text-align: center;
}

.item-button:hover {
    transform: scale(1.2, 1.2);
    transition: transform, 1s;
    cursor: pointer;
}


#profile-span {
    display: flex;
    align-items: center;
}

#model-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(96, 96, 96, 0.5);
    animation: fade 1s;
    position: absolute;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(53, 123, 193);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}