body {
    display: flex;
    width: 900px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



#avatar {
    display: flex;
    align-items: center;
    width: 100px;
 
}

#profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    
}

.profile-info {
    display: flex;
    flex-direction: column;
    height: 100px;
 
 
}

.profile-info p {
    margin: 9px;
}

.object-wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    height: 300px;
    width: 700px;
}

img {
    width: 100px;
    margin: 50px;
}


.nav-description {
    font-size: 30px;
}

img.visited {
    width: 100px;
    height: 100px;
    margin: 50px;
    opacity: .3;
}


.modal-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 40%;
    background-color: white;
    border: 4px solid black;
    padding: 10px;
    width: 400px;
  
}

header .model-display {
    display: flex;
    text-align: center;
}

.hidden {
    display: none;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    text-align: center;
}

